@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Poppins&family=Roboto+Mono:wght@300&display=swap');

body {
  background-color: #04b30dd3;
}

#content {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #cce0ff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 7em;
  line-height: 1.5em;
  color: #03030c;
  text-align: center;
  padding: 10px;
  margin-bottom: 0;
}  
  
  
  

p {
  font-family: 'Poppins&family', serif;
  font-size: 1.25em;
  line-height: 1.25em;
  padding: 10px;
  color: #020202;
  margin-top: 0;
}

nav {
  background-color: #61CEFF;
  padding: 2em;
}

nav a {
  line-height: 1.75em;
  color: #2929a3;
  padding: .25em .25em;
  text-decoration: none;
}


nav a:hover {
  background-color: #2929a3;
  color: #61CEFF;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.15);
}


img {
  max-width: 100%;
}


.banner {
  width: 100%;
}

.pagetitle {
   grid-column: 1 / 3;
  grid-row: 1/1;
  font-size: 2.5em;
  margin: 15px 0 25px 0;
  color: #010f11;
}



.home-paragraph-1 {
  grid-column: 2 / 3;
  grid-row: 2/3;
  margin: 15px 0 0 -25px;
  text-align: center;
  padding: 15px;
  border: 6px #04a1b3 solid;
  background-color: white;
  border-radius: 6px;
  border-style: double;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.15);
}

#info {
  font-size: 1em;
}

header {
  background-color: #61CEFF;
  display: grid;
  grid-template-columns: 1fr max-content repeat(3, max-content);
  margin: 10px 15px 0 0;
  font-size: large;
  text-align: center;
  align-items: center;
  justify-content: center;
  line-height: 2.75em;
}

footer {
  background-color: #61CEFF;
  display: grid;
  grid-template-columns: 1fr max-content repeat(3, max-content);
  margin: 300px 15px 0 0;
  align-items: center;
  justify-content: center;
  line-height: 2.75em;
}



/*Data Bundle */
.data-pagetitle {
  color: #71AE10;
  grid-column: 1 / 3;
  grid-row: 1/1;
  font-size: 2.5em;
  margin: 15px 0 25px 0;
    text-shadow: 4px 4px gray;
}
.data-paragraph-1 {
  grid-column: 1 / 2;
  grid-row: 2/3;
margin: 15px 15px 0 45px;
  text-align: justify;
  padding: 15px;
  border: 6px #71AE10 solid;
  background-color: white;
  border-radius: 6px;
  border-style: double;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.15);
}

.data-right-img {
  width: 500px;
  height: 350px;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.15);
  grid-column: 2 / 3;
  grid-row: 2 / 2;
  margin: 15px 35px 0 35px;
  justify-content: center;
  align-items: center;
}
.data-right2-img {
  width: 500px;
  height: 350px;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.15);
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 465px 35px 0 35px;
  justify-content: center;
  align-items: center;
}


.data-headline-2 {
  grid-column: 1 / 3;
  grid-row: 4 / 6;
  margin: 0 55px 0 55px;
  padding: 25px;
  border-radius: 10px;
  line-height: 1.5em;
  color: white;
  background-color: #71AE10;
}

.container {
  position: relative;
  text-align: center;
  color: #71AE10;
  grid-column: 2 / 3;
  grid-row: 2 / 2;
  
}
.speed {
  position: absolute;
  top: 100px;
  right: 50px;
  font-size: 2.25em;
  text-shadow: 4px 4px gray;
}

/*about us stuff*/



